VITE_API_URL=https://depth-magnitude-musician-vocal.trycloudflare.com/api
VITE_GOOGLE_CLIENT_ID =318884819630-preae7rh8bs36ndlt6hn35rujlvia1sp.apps.googleusercontent.com
VITE_ADMIN_EMAIL=abdalrahmansalloum200@gmail.com