VITE_API_URL=https://easy-printable-supplies-hold.trycloudflare.com/api
VITE_GOOGLE_CLIENT_ID =318884819630-preae7rh8bs36ndlt6hn35rujlvia1sp.apps.googleusercontent.com
VITE_ADMIN_EMAIL=abdalrahmansalloum200@gmail.com
 VITE_FIREBASE_VAPID_KEY=BOA6xn5O748x8rjekq_yJ0onXY08qSBYXPbjpR4D-YdUOmZMWcYaIh1IhykFno7EWSM8YACiyjCpF7EPcKO6mzs