.dif-logo {
  width: 32px;
  height: 32px;
  flex: 0 0 auto;
  border-radius: var(--radius-sm);

  &--large {
    width: 80px;
    height: 80px;
    padding: 8px;
    background: var(--color-white);
    border-radius: var(--radius-pill);
    box-shadow: var(--shadow-white-glow);
  }
}
