.my-booths {
  min-height: 100%;
  padding: 24px;

  &__add-button {
    min-width: 118px;
    min-height: 36px;
    height: 36px;
    padding: 8px 16px;
    border-color: transparent;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    box-shadow: var(--shadow-xs-strong);
  }
}
